name: CI

on:
  # We run CI on pushes to the main branch
  push:
    branches:
      - main
  # and on all pull requests to the main branch
  pull_request:
    branches:
      - main
  # as well as upon manual triggers through the 'Actions' tab of the Github UI
  workflow_dispatch:
  schedule:
  - cron: '30 6 * * 2'

env:
  CATCH2_VERSION: 3.5.2

jobs:
  build-and-test:
    name: Testing on ${{matrix.os}}
    runs-on: ${{matrix.os}}
    strategy:
      matrix:
        os: [ubuntu-latest]

    steps:
    - uses: actions/checkout@v6

    - name: Install Catch2 (Linux + MacOS)
      if: runner.os != 'Windows'
      run: |
        git clone -b v$CATCH2_VERSION https://github.com/catchorg/Catch2.git
        cd Catch2
        cmake -B build -S . -DBUILD_TESTING=OFF -DCMAKE_INSTALL_PREFIX=$GITHUB_WORKSPACE
        cmake --build build/ --target install

    - name: Install Catch2 (Windows)
      if: runner.os == 'Windows'
      run: |
        git clone -b v$Env:CATCH2_VERSION https://github.com/catchorg/Catch2.git
        cd Catch2
        mkdir build
        cd build
        cmake -DBUILD_TESTING=OFF  ..
        cmake --build . --target install

    - name: configure cmake
      shell: bash
      run: cmake -B build -S $GITHUB_WORKSPACE -DCMAKE_BUILD_TYPE=Debug -DBUILD_DOCS=OFF -DCMAKE_INSTALL_PREFIX=$GITHUB_WORKSPACE

    - name: build
      shell: bash
      run: cmake --build build/ --target all

    - name: run tests
      shell: bash
      working-directory: ${{ github.workspace }}/build
      run: ctest

  build-via-slurm:
    name: Testing ${{matrix.os}} on Rogues Gallery
    runs-on: ${{matrix.os}}
    strategy:
      fail-fast: false
      matrix:
        os: [slurm-arm, slurm-riscv]

    steps:
    - uses: actions/checkout@v6
    - name: Run slurm batch file
      working-directory: ${{ github.workspace }}/slurm
      shell: bash
      run: |
        chmod +x ${{matrix.os}}.sh && sbatch ${{matrix.os}}.sh
        cat ${{matrix.os}}.out
